<app-header></app-header>


<main class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="accordion" id="accordionExample">
                <div class="">
                    <div class="">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Linhas de Onibus
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show p-3"  aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <app-list></app-list>
                            </div>
                          </div>
                    </div>
            <div class="">
                <div class="accordion-item mt-2">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Linahs de Lotação
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <app-list-lotacao></app-list-lotacao>
                      
                      </div>
                    </div>
                  </div>
            </div>
            
                  
                </div>
               
              </div>
        </div>
        <div class="col-md-7 ">
            MAPS AQUI
        </div>
      </div>
</main>


