    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Codigo</th>
                <th scope="col">Linha</th>
                <th scope="col">ID</th>
              </tr>
            </thead>
            <tbody >
<ng-template ngFor let-listOnibus [ngForOf]="getListOnibus">


    <tr>
        <td><a href="">{{listOnibus.codigo}}</a></td>
        <td><a href="">{{listOnibus.nome}}</a></td>
        <td><a href="">{{listOnibus.id}}</a></td>
      </tr>
      
</ng-template>

            </tbody>
          </table>
    </div>